@import '../../sass/variables.scss';

.list {
  display: flex;
  flex-wrap: wrap;
  min-width: 290px;
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
  list-style: none;

  // @media screen and (min-width: 480px) {
  //   width: 420px;
  // }
  // @media screen and (min-width: 768px) {
  //   width: 700px;
  // }
  // @media screen and (min-width: 960px) {
  //   width: 880px;
  // }

  // @media screen and (min-width: 1080px) {
  //   width: 1000px;
  // }
}

.listItem {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  width: calc(25% - 10px);
  margin: 5px;

  @media screen and (min-width: 480px) {
    width: calc(25% - 20px);
    margin: 10px;
  }
}

.imgWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: 62px;
  object-fit: cover;

  @media screen and (min-width: 480px) {
    height: 100px;
  }
  @media screen and (min-width: 768px) {
    height: 150px;
  }
  @media screen and (min-width: 960px) {
    height: 180px;
  }

  @media screen and (min-width: 1080px) {
    height: 220px;
  }
}

.nameWrap {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  background-color: #000;
  color: $primary-text-color;
}

.imgName {
  font-size: 6px;
  text-align: center;
  line-height: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @media screen and (min-width: 480px) {
    font-size: 8px;
  }

  @media screen and (min-width: 768px) {
    font-size: 10px;
  }
  @media screen and (min-width: 960px) {
    font-size: 14px;
  }

}

.iButton {
  width: 26px;
  height: 26px;
  border: none;
  background-color: #000;
  cursor: pointer;
  color: $primary-text-color;
  font-size: 8px;
  line-height: 18px;
  &:focus {
    border: none;
  }

  @media screen and (min-width: 480px) {
    font-size: 8px;
  }

  @media screen and (min-width: 768px) {
    font-size: 10px;
  }
  @media screen and (min-width: 960px) {
    font-size: 14px;
  }

}
